
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 3.5em;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: #d20094;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
}

p {
  margin: 0.7em 0;
  font-size: 1em;
  color:white;
}

header img {
  height: 40px;
}

li {
  font-size: 1em;
  color: white;
  margin-top:10px;
  margin-bottom: 10px;
}

body {
font-family: 'Inter', sans-serif;
background-image: url(../images/bg.jpg);
background-size: cover;
padding: 40px 100px
}

strong {
font-weight: 700;
}

form {
font-size:0.8em;
color:white
}

#bottonToStartExam {
  margin-left: 150px
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(239, 234, 234);
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #d20094;
}

form button {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  background-color: #0fe5de;
  color: rgba(30, 9, 114, 0.868);
  padding: 0px;
  height: 55px;
  width: 180px;
  border: none;
  cursor: pointer;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0.5px 1px 7px 7px rgba(24, 183, 197, 0.428);
  border-radius: 1px;
  margin-left: 230px;
}

ul {
  margin-left: 30px;
  list-style: disc;
}

/* RADIO/CHECKBOX CUSTOMIZATION */

label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}

.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.newradio {
  cursor: pointer;
  position: absolute;
  top: -1px;
  left: 8px;
  height: 10px;
  width: 10px;
  background-color: #0b113b;
  border: 2px solid white;
  border-radius: 50%;
}

.newradio:hover {
  background-color: #2f366d;
}

.radio:checked ~ .newradio {
  background-color: #2f366d;
}

.newradio::after {
  content: "";
  position: absolute;
  display: none;
}

.radio:checked ~ .newradio::after {
  display: block;
}

label .newradio::after {
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}

#checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1;
  width: 1;
  top: 0px;
  left: 5px;
}

#newcheckbox {
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: 8px;
  height: 10px;
  width: 10px;
  background-color: #0b113b;
  border: 2px solid white;
}

#newcheckbox:hover {
  background-color: #2f366d;
}

#checkbox:checked ~ #newcheckbox {
  background-color: #2f366d;
}

#newcheckbox::after {
  content: "";
  position: absolute;
  display: none;
}

#checkbox:checked ~ #newcheckbox::after {
  display: block;
}

label #newcheckbox::after {
  left: 2px;
  top: -2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}