
h1 {
  font-size: 3.5em;
  color: white;
}

h2 {
  font-size: 1.5em;
  color: blueviolet;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
}

p {
  margin: 0.7em 0;
  font-size: 1.1em;
  color:white;
}

li {
  font-size: 1.1em;
  color: white;
}

body {
background-image: url(../images/bg.jpg);
background-position: center;
background-size: cover;
padding: 40px 100px
}

strong {
font-weight: 700;
}

form {
font-size:1em;
color:white
}

#bottonToStartExam {
  margin-left: 150px
}