
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 3.5em;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: #d20094;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
}

p {
  margin: 0.7em 0;
  font-size: 1em;
  color:white;
}

header img {
  height: 40px;
}

li {
  font-size: 1em;
  color: white;
  margin-top:10px;
  margin-bottom: 10px;
}

body {
font-family: 'Inter', sans-serif;
background-image: url(../images/bg.jpg);
background-size: cover;
padding: 40px 100px
}

strong {
font-weight: 700;
}

form {
font-size:0.8em;
color:white
}

#bottonToStartExam {
  margin-left: 150px
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(239, 234, 234);
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #d20094;
}

form button {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 30px;
  background-color: #0fe5de;
  color: rgba(30, 9, 114, 0.868);
  padding: 0px;
  height: 55px;
  width: 180px;
  border: none;
  cursor: pointer;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 8px rgba(5, 220, 240, 0.839);
}

ul {
  margin-left: 30px;
  list-style: disc;
}